<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InventarioBDEntities" connectionString="metadata=res://*/ModeloDeDatos.ModeloInventario.csdl|res://*/ModeloDeDatos.ModeloInventario.ssdl|res://*/ModeloDeDatos.ModeloInventario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=InventarioBD;user id=sa;password=admin12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>