@model Inventario.GUI.ModeloBD.tb_tipo_producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_tipo_producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
